.card-conatiner{
    background-color: #172542;
    height: 24vh;
    width: 10vh;
    border-radius: 30px;
    cursor: pointer;
    border: solid 0.1px rgb(45, 60, 119);
    color: white;
}
.card-conatiner:hover{
    background-color: #202b83;
    border: solid 0.1px rgb(59, 78, 154);
}
.preview-time,.preview-temp{
    font-size: 85%;
}
.preview-rain{
    font-size: 75%;
    color: #9e99af;
}
.more-icons{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rain{
    background-image: url('https://img.icons8.com/ios/50/000000/rain.png');
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.dew{
    background-image: url('https://img.icons8.com/ios/50/000000/dew-point.png');
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.cloud{
    background-image: url('https://img.icons8.com/ios/50/000000/cloud.png');
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.visible{
    background-image: url('https://img.icons8.com/ios/50/000000/visibility.png');
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.pressure{
    background-image: url('https://img.icons8.com/ios/50/000000/barometer.png');
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}